[package]
name = "wglymr-color"
version.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true

[dependencies]
palette = { version = "0.7", features = ["std"] }
